/* * {
    border-style: solid;
    border-color: red;
} */

@font-face {
  font-family: "OSRSFont";
  src: url("resources/fonts/runescape.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OSRSFont";
  src: url("resources/fonts/runescape_bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "OSRSFontSmall";
  src: url("resources/fonts/runescape_small.ttf") format("truetype");
}



body {
    font-family: "OSRSFont", sans-serif;
    width: 1390px;
    height: 560px;
    overflow: hidden;
    background: linear-gradient(-45deg, #2b150e, #310c1a, #061e27, #062921);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: cornsilk;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#skills {
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;*/

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(8, 50px);
    gap: 10px 10px;

    height: 100%;

    border-style: solid;
    border-color: red;
}

.skill-header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.skill-container {
    /*flex-basis: 10%;*/
}

.skill-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

    color: cornsilk;
    background-color: transparent;
    border-radius: 20px;
    border-style: solid;
    border-color: bisque;
}

.skill-level {
    height: 100%;
}

.skill-info-container {
    border-style: solid;
    border-color: red;
}

.icon-container {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}